/*
fastcomments

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"os"
)


// PublicAPIService PublicAPI service
type PublicAPIService service

type ApiBlockFromCommentPublicRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId *string
	commentId string
	publicBlockFromCommentParams *PublicBlockFromCommentParams
	sso *string
}

func (r ApiBlockFromCommentPublicRequest) TenantId(tenantId string) ApiBlockFromCommentPublicRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiBlockFromCommentPublicRequest) PublicBlockFromCommentParams(publicBlockFromCommentParams PublicBlockFromCommentParams) ApiBlockFromCommentPublicRequest {
	r.publicBlockFromCommentParams = &publicBlockFromCommentParams
	return r
}

func (r ApiBlockFromCommentPublicRequest) Sso(sso string) ApiBlockFromCommentPublicRequest {
	r.sso = &sso
	return r
}

func (r ApiBlockFromCommentPublicRequest) Execute() (*BlockSuccess, *http.Response, error) {
	return r.ApiService.BlockFromCommentPublicExecute(r)
}

/*
BlockFromCommentPublic Method for BlockFromCommentPublic

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param commentId
 @return ApiBlockFromCommentPublicRequest
*/
func (a *PublicAPIService) BlockFromCommentPublic(ctx context.Context, commentId string) ApiBlockFromCommentPublicRequest {
	return ApiBlockFromCommentPublicRequest{
		ApiService: a,
		ctx: ctx,
		commentId: commentId,
	}
}

// Execute executes the request
//  @return BlockSuccess
func (a *PublicAPIService) BlockFromCommentPublicExecute(r ApiBlockFromCommentPublicRequest) (*BlockSuccess, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BlockSuccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.BlockFromCommentPublic")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/block-from-comment/{commentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.publicBlockFromCommentParams == nil {
		return localVarReturnValue, nil, reportError("publicBlockFromCommentParams is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.publicBlockFromCommentParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCheckedCommentsForBlockedRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId *string
	commentIds *string
	sso *string
}

func (r ApiCheckedCommentsForBlockedRequest) TenantId(tenantId string) ApiCheckedCommentsForBlockedRequest {
	r.tenantId = &tenantId
	return r
}

// A comma separated list of comment ids.
func (r ApiCheckedCommentsForBlockedRequest) CommentIds(commentIds string) ApiCheckedCommentsForBlockedRequest {
	r.commentIds = &commentIds
	return r
}

func (r ApiCheckedCommentsForBlockedRequest) Sso(sso string) ApiCheckedCommentsForBlockedRequest {
	r.sso = &sso
	return r
}

func (r ApiCheckedCommentsForBlockedRequest) Execute() (*CheckBlockedCommentsResponse, *http.Response, error) {
	return r.ApiService.CheckedCommentsForBlockedExecute(r)
}

/*
CheckedCommentsForBlocked Method for CheckedCommentsForBlocked

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCheckedCommentsForBlockedRequest
*/
func (a *PublicAPIService) CheckedCommentsForBlocked(ctx context.Context) ApiCheckedCommentsForBlockedRequest {
	return ApiCheckedCommentsForBlockedRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CheckBlockedCommentsResponse
func (a *PublicAPIService) CheckedCommentsForBlockedExecute(r ApiCheckedCommentsForBlockedRequest) (*CheckBlockedCommentsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CheckBlockedCommentsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.CheckedCommentsForBlocked")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/check-blocked-comments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.commentIds == nil {
		return localVarReturnValue, nil, reportError("commentIds is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "commentIds", r.commentIds, "form", "")
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCommentPublicRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	urlId *string
	broadcastId *string
	commentData *CommentData
	sessionId *string
	sso *string
}

func (r ApiCreateCommentPublicRequest) UrlId(urlId string) ApiCreateCommentPublicRequest {
	r.urlId = &urlId
	return r
}

func (r ApiCreateCommentPublicRequest) BroadcastId(broadcastId string) ApiCreateCommentPublicRequest {
	r.broadcastId = &broadcastId
	return r
}

func (r ApiCreateCommentPublicRequest) CommentData(commentData CommentData) ApiCreateCommentPublicRequest {
	r.commentData = &commentData
	return r
}

func (r ApiCreateCommentPublicRequest) SessionId(sessionId string) ApiCreateCommentPublicRequest {
	r.sessionId = &sessionId
	return r
}

func (r ApiCreateCommentPublicRequest) Sso(sso string) ApiCreateCommentPublicRequest {
	r.sso = &sso
	return r
}

func (r ApiCreateCommentPublicRequest) Execute() (*SaveCommentsResponseWithPresence, *http.Response, error) {
	return r.ApiService.CreateCommentPublicExecute(r)
}

/*
CreateCommentPublic Method for CreateCommentPublic

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiCreateCommentPublicRequest
*/
func (a *PublicAPIService) CreateCommentPublic(ctx context.Context, tenantId string) ApiCreateCommentPublicRequest {
	return ApiCreateCommentPublicRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return SaveCommentsResponseWithPresence
func (a *PublicAPIService) CreateCommentPublicExecute(r ApiCreateCommentPublicRequest) (*SaveCommentsResponseWithPresence, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SaveCommentsResponseWithPresence
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.CreateCommentPublic")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/comments/{tenantId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.urlId == nil {
		return localVarReturnValue, nil, reportError("urlId is required and must be specified")
	}
	if r.broadcastId == nil {
		return localVarReturnValue, nil, reportError("broadcastId is required and must be specified")
	}
	if r.commentData == nil {
		return localVarReturnValue, nil, reportError("commentData is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "urlId", r.urlId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "broadcastId", r.broadcastId, "form", "")
	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sessionId", r.sessionId, "form", "")
	}
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.commentData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateFeedPostPublicRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	createFeedPostParams *CreateFeedPostParams
	broadcastId *string
	sso *string
}

func (r ApiCreateFeedPostPublicRequest) CreateFeedPostParams(createFeedPostParams CreateFeedPostParams) ApiCreateFeedPostPublicRequest {
	r.createFeedPostParams = &createFeedPostParams
	return r
}

func (r ApiCreateFeedPostPublicRequest) BroadcastId(broadcastId string) ApiCreateFeedPostPublicRequest {
	r.broadcastId = &broadcastId
	return r
}

func (r ApiCreateFeedPostPublicRequest) Sso(sso string) ApiCreateFeedPostPublicRequest {
	r.sso = &sso
	return r
}

func (r ApiCreateFeedPostPublicRequest) Execute() (*CreateFeedPostResponse, *http.Response, error) {
	return r.ApiService.CreateFeedPostPublicExecute(r)
}

/*
CreateFeedPostPublic Method for CreateFeedPostPublic

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiCreateFeedPostPublicRequest
*/
func (a *PublicAPIService) CreateFeedPostPublic(ctx context.Context, tenantId string) ApiCreateFeedPostPublicRequest {
	return ApiCreateFeedPostPublicRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return CreateFeedPostResponse
func (a *PublicAPIService) CreateFeedPostPublicExecute(r ApiCreateFeedPostPublicRequest) (*CreateFeedPostResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateFeedPostResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.CreateFeedPostPublic")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/feed-posts/{tenantId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createFeedPostParams == nil {
		return localVarReturnValue, nil, reportError("createFeedPostParams is required and must be specified")
	}

	if r.broadcastId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "broadcastId", r.broadcastId, "form", "")
	}
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createFeedPostParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateV1PageReactRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	urlId *string
	title *string
}

func (r ApiCreateV1PageReactRequest) UrlId(urlId string) ApiCreateV1PageReactRequest {
	r.urlId = &urlId
	return r
}

func (r ApiCreateV1PageReactRequest) Title(title string) ApiCreateV1PageReactRequest {
	r.title = &title
	return r
}

func (r ApiCreateV1PageReactRequest) Execute() (*CreateV1PageReact, *http.Response, error) {
	return r.ApiService.CreateV1PageReactExecute(r)
}

/*
CreateV1PageReact Method for CreateV1PageReact

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiCreateV1PageReactRequest
*/
func (a *PublicAPIService) CreateV1PageReact(ctx context.Context, tenantId string) ApiCreateV1PageReactRequest {
	return ApiCreateV1PageReactRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return CreateV1PageReact
func (a *PublicAPIService) CreateV1PageReactExecute(r ApiCreateV1PageReactRequest) (*CreateV1PageReact, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateV1PageReact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.CreateV1PageReact")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/page-reacts/v1/likes/{tenantId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.urlId == nil {
		return localVarReturnValue, nil, reportError("urlId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "urlId", r.urlId, "form", "")
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateV2PageReactRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	urlId *string
	id *string
	title *string
}

func (r ApiCreateV2PageReactRequest) UrlId(urlId string) ApiCreateV2PageReactRequest {
	r.urlId = &urlId
	return r
}

func (r ApiCreateV2PageReactRequest) Id(id string) ApiCreateV2PageReactRequest {
	r.id = &id
	return r
}

func (r ApiCreateV2PageReactRequest) Title(title string) ApiCreateV2PageReactRequest {
	r.title = &title
	return r
}

func (r ApiCreateV2PageReactRequest) Execute() (*CreateV1PageReact, *http.Response, error) {
	return r.ApiService.CreateV2PageReactExecute(r)
}

/*
CreateV2PageReact Method for CreateV2PageReact

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiCreateV2PageReactRequest
*/
func (a *PublicAPIService) CreateV2PageReact(ctx context.Context, tenantId string) ApiCreateV2PageReactRequest {
	return ApiCreateV2PageReactRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return CreateV1PageReact
func (a *PublicAPIService) CreateV2PageReactExecute(r ApiCreateV2PageReactRequest) (*CreateV1PageReact, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateV1PageReact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.CreateV2PageReact")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/page-reacts/v2/{tenantId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.urlId == nil {
		return localVarReturnValue, nil, reportError("urlId is required and must be specified")
	}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "urlId", r.urlId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteCommentPublicRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	commentId string
	broadcastId *string
	editKey *string
	sso *string
}

func (r ApiDeleteCommentPublicRequest) BroadcastId(broadcastId string) ApiDeleteCommentPublicRequest {
	r.broadcastId = &broadcastId
	return r
}

func (r ApiDeleteCommentPublicRequest) EditKey(editKey string) ApiDeleteCommentPublicRequest {
	r.editKey = &editKey
	return r
}

func (r ApiDeleteCommentPublicRequest) Sso(sso string) ApiDeleteCommentPublicRequest {
	r.sso = &sso
	return r
}

func (r ApiDeleteCommentPublicRequest) Execute() (*PublicAPIDeleteCommentResponse, *http.Response, error) {
	return r.ApiService.DeleteCommentPublicExecute(r)
}

/*
DeleteCommentPublic Method for DeleteCommentPublic

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @param commentId
 @return ApiDeleteCommentPublicRequest
*/
func (a *PublicAPIService) DeleteCommentPublic(ctx context.Context, tenantId string, commentId string) ApiDeleteCommentPublicRequest {
	return ApiDeleteCommentPublicRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		commentId: commentId,
	}
}

// Execute executes the request
//  @return PublicAPIDeleteCommentResponse
func (a *PublicAPIService) DeleteCommentPublicExecute(r ApiDeleteCommentPublicRequest) (*PublicAPIDeleteCommentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublicAPIDeleteCommentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.DeleteCommentPublic")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/comments/{tenantId}/{commentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.broadcastId == nil {
		return localVarReturnValue, nil, reportError("broadcastId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "broadcastId", r.broadcastId, "form", "")
	if r.editKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "editKey", r.editKey, "form", "")
	}
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteCommentVoteRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	commentId string
	voteId string
	urlId *string
	broadcastId *string
	editKey *string
	sso *string
}

func (r ApiDeleteCommentVoteRequest) UrlId(urlId string) ApiDeleteCommentVoteRequest {
	r.urlId = &urlId
	return r
}

func (r ApiDeleteCommentVoteRequest) BroadcastId(broadcastId string) ApiDeleteCommentVoteRequest {
	r.broadcastId = &broadcastId
	return r
}

func (r ApiDeleteCommentVoteRequest) EditKey(editKey string) ApiDeleteCommentVoteRequest {
	r.editKey = &editKey
	return r
}

func (r ApiDeleteCommentVoteRequest) Sso(sso string) ApiDeleteCommentVoteRequest {
	r.sso = &sso
	return r
}

func (r ApiDeleteCommentVoteRequest) Execute() (*VoteDeleteResponse, *http.Response, error) {
	return r.ApiService.DeleteCommentVoteExecute(r)
}

/*
DeleteCommentVote Method for DeleteCommentVote

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @param commentId
 @param voteId
 @return ApiDeleteCommentVoteRequest
*/
func (a *PublicAPIService) DeleteCommentVote(ctx context.Context, tenantId string, commentId string, voteId string) ApiDeleteCommentVoteRequest {
	return ApiDeleteCommentVoteRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		commentId: commentId,
		voteId: voteId,
	}
}

// Execute executes the request
//  @return VoteDeleteResponse
func (a *PublicAPIService) DeleteCommentVoteExecute(r ApiDeleteCommentVoteRequest) (*VoteDeleteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VoteDeleteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.DeleteCommentVote")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/comments/{tenantId}/{commentId}/vote/{voteId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"voteId"+"}", url.PathEscape(parameterValueToString(r.voteId, "voteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.urlId == nil {
		return localVarReturnValue, nil, reportError("urlId is required and must be specified")
	}
	if r.broadcastId == nil {
		return localVarReturnValue, nil, reportError("broadcastId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "urlId", r.urlId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "broadcastId", r.broadcastId, "form", "")
	if r.editKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "editKey", r.editKey, "form", "")
	}
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteFeedPostPublicRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	postId string
	broadcastId *string
	sso *string
}

func (r ApiDeleteFeedPostPublicRequest) BroadcastId(broadcastId string) ApiDeleteFeedPostPublicRequest {
	r.broadcastId = &broadcastId
	return r
}

func (r ApiDeleteFeedPostPublicRequest) Sso(sso string) ApiDeleteFeedPostPublicRequest {
	r.sso = &sso
	return r
}

func (r ApiDeleteFeedPostPublicRequest) Execute() (*DeleteFeedPostPublicResponse, *http.Response, error) {
	return r.ApiService.DeleteFeedPostPublicExecute(r)
}

/*
DeleteFeedPostPublic Method for DeleteFeedPostPublic

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @param postId
 @return ApiDeleteFeedPostPublicRequest
*/
func (a *PublicAPIService) DeleteFeedPostPublic(ctx context.Context, tenantId string, postId string) ApiDeleteFeedPostPublicRequest {
	return ApiDeleteFeedPostPublicRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		postId: postId,
	}
}

// Execute executes the request
//  @return DeleteFeedPostPublicResponse
func (a *PublicAPIService) DeleteFeedPostPublicExecute(r ApiDeleteFeedPostPublicRequest) (*DeleteFeedPostPublicResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteFeedPostPublicResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.DeleteFeedPostPublic")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/feed-posts/{tenantId}/{postId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"postId"+"}", url.PathEscape(parameterValueToString(r.postId, "postId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.broadcastId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "broadcastId", r.broadcastId, "form", "")
	}
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteV1PageReactRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	urlId *string
}

func (r ApiDeleteV1PageReactRequest) UrlId(urlId string) ApiDeleteV1PageReactRequest {
	r.urlId = &urlId
	return r
}

func (r ApiDeleteV1PageReactRequest) Execute() (*CreateV1PageReact, *http.Response, error) {
	return r.ApiService.DeleteV1PageReactExecute(r)
}

/*
DeleteV1PageReact Method for DeleteV1PageReact

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiDeleteV1PageReactRequest
*/
func (a *PublicAPIService) DeleteV1PageReact(ctx context.Context, tenantId string) ApiDeleteV1PageReactRequest {
	return ApiDeleteV1PageReactRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return CreateV1PageReact
func (a *PublicAPIService) DeleteV1PageReactExecute(r ApiDeleteV1PageReactRequest) (*CreateV1PageReact, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateV1PageReact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.DeleteV1PageReact")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/page-reacts/v1/likes/{tenantId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.urlId == nil {
		return localVarReturnValue, nil, reportError("urlId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "urlId", r.urlId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteV2PageReactRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	urlId *string
	id *string
}

func (r ApiDeleteV2PageReactRequest) UrlId(urlId string) ApiDeleteV2PageReactRequest {
	r.urlId = &urlId
	return r
}

func (r ApiDeleteV2PageReactRequest) Id(id string) ApiDeleteV2PageReactRequest {
	r.id = &id
	return r
}

func (r ApiDeleteV2PageReactRequest) Execute() (*CreateV1PageReact, *http.Response, error) {
	return r.ApiService.DeleteV2PageReactExecute(r)
}

/*
DeleteV2PageReact Method for DeleteV2PageReact

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiDeleteV2PageReactRequest
*/
func (a *PublicAPIService) DeleteV2PageReact(ctx context.Context, tenantId string) ApiDeleteV2PageReactRequest {
	return ApiDeleteV2PageReactRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return CreateV1PageReact
func (a *PublicAPIService) DeleteV2PageReactExecute(r ApiDeleteV2PageReactRequest) (*CreateV1PageReact, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateV1PageReact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.DeleteV2PageReact")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/page-reacts/v2/{tenantId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.urlId == nil {
		return localVarReturnValue, nil, reportError("urlId is required and must be specified")
	}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "urlId", r.urlId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFlagCommentPublicRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId *string
	commentId string
	isFlagged *bool
	sso *string
}

func (r ApiFlagCommentPublicRequest) TenantId(tenantId string) ApiFlagCommentPublicRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiFlagCommentPublicRequest) IsFlagged(isFlagged bool) ApiFlagCommentPublicRequest {
	r.isFlagged = &isFlagged
	return r
}

func (r ApiFlagCommentPublicRequest) Sso(sso string) ApiFlagCommentPublicRequest {
	r.sso = &sso
	return r
}

func (r ApiFlagCommentPublicRequest) Execute() (*APIEmptyResponse, *http.Response, error) {
	return r.ApiService.FlagCommentPublicExecute(r)
}

/*
FlagCommentPublic Method for FlagCommentPublic

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param commentId
 @return ApiFlagCommentPublicRequest
*/
func (a *PublicAPIService) FlagCommentPublic(ctx context.Context, commentId string) ApiFlagCommentPublicRequest {
	return ApiFlagCommentPublicRequest{
		ApiService: a,
		ctx: ctx,
		commentId: commentId,
	}
}

// Execute executes the request
//  @return APIEmptyResponse
func (a *PublicAPIService) FlagCommentPublicExecute(r ApiFlagCommentPublicRequest) (*APIEmptyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *APIEmptyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.FlagCommentPublic")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/flag-comment/{commentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.isFlagged == nil {
		return localVarReturnValue, nil, reportError("isFlagged is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isFlagged", r.isFlagged, "form", "")
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCommentTextRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	commentId string
	editKey *string
	sso *string
}

func (r ApiGetCommentTextRequest) EditKey(editKey string) ApiGetCommentTextRequest {
	r.editKey = &editKey
	return r
}

func (r ApiGetCommentTextRequest) Sso(sso string) ApiGetCommentTextRequest {
	r.sso = &sso
	return r
}

func (r ApiGetCommentTextRequest) Execute() (*PublicAPIGetCommentTextResponse, *http.Response, error) {
	return r.ApiService.GetCommentTextExecute(r)
}

/*
GetCommentText Method for GetCommentText

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @param commentId
 @return ApiGetCommentTextRequest
*/
func (a *PublicAPIService) GetCommentText(ctx context.Context, tenantId string, commentId string) ApiGetCommentTextRequest {
	return ApiGetCommentTextRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		commentId: commentId,
	}
}

// Execute executes the request
//  @return PublicAPIGetCommentTextResponse
func (a *PublicAPIService) GetCommentTextExecute(r ApiGetCommentTextRequest) (*PublicAPIGetCommentTextResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublicAPIGetCommentTextResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.GetCommentText")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/comments/{tenantId}/{commentId}/text"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.editKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "editKey", r.editKey, "form", "")
	}
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCommentVoteUserNamesRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	commentId string
	dir *int32
	sso *string
}

func (r ApiGetCommentVoteUserNamesRequest) Dir(dir int32) ApiGetCommentVoteUserNamesRequest {
	r.dir = &dir
	return r
}

func (r ApiGetCommentVoteUserNamesRequest) Sso(sso string) ApiGetCommentVoteUserNamesRequest {
	r.sso = &sso
	return r
}

func (r ApiGetCommentVoteUserNamesRequest) Execute() (*GetCommentVoteUserNamesSuccessResponse, *http.Response, error) {
	return r.ApiService.GetCommentVoteUserNamesExecute(r)
}

/*
GetCommentVoteUserNames Method for GetCommentVoteUserNames

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @param commentId
 @return ApiGetCommentVoteUserNamesRequest
*/
func (a *PublicAPIService) GetCommentVoteUserNames(ctx context.Context, tenantId string, commentId string) ApiGetCommentVoteUserNamesRequest {
	return ApiGetCommentVoteUserNamesRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		commentId: commentId,
	}
}

// Execute executes the request
//  @return GetCommentVoteUserNamesSuccessResponse
func (a *PublicAPIService) GetCommentVoteUserNamesExecute(r ApiGetCommentVoteUserNamesRequest) (*GetCommentVoteUserNamesSuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetCommentVoteUserNamesSuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.GetCommentVoteUserNames")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/comments/{tenantId}/{commentId}/votes"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dir == nil {
		return localVarReturnValue, nil, reportError("dir is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dir", r.dir, "form", "")
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCommentsForUserRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	userId *string
	direction *SortDirections
	repliesToUserId *string
	page *float64
	includei10n *bool
	locale *string
	isCrawler *bool
}

func (r ApiGetCommentsForUserRequest) UserId(userId string) ApiGetCommentsForUserRequest {
	r.userId = &userId
	return r
}

func (r ApiGetCommentsForUserRequest) Direction(direction SortDirections) ApiGetCommentsForUserRequest {
	r.direction = &direction
	return r
}

func (r ApiGetCommentsForUserRequest) RepliesToUserId(repliesToUserId string) ApiGetCommentsForUserRequest {
	r.repliesToUserId = &repliesToUserId
	return r
}

func (r ApiGetCommentsForUserRequest) Page(page float64) ApiGetCommentsForUserRequest {
	r.page = &page
	return r
}

func (r ApiGetCommentsForUserRequest) Includei10n(includei10n bool) ApiGetCommentsForUserRequest {
	r.includei10n = &includei10n
	return r
}

func (r ApiGetCommentsForUserRequest) Locale(locale string) ApiGetCommentsForUserRequest {
	r.locale = &locale
	return r
}

func (r ApiGetCommentsForUserRequest) IsCrawler(isCrawler bool) ApiGetCommentsForUserRequest {
	r.isCrawler = &isCrawler
	return r
}

func (r ApiGetCommentsForUserRequest) Execute() (*GetCommentsForUserResponse, *http.Response, error) {
	return r.ApiService.GetCommentsForUserExecute(r)
}

/*
GetCommentsForUser Method for GetCommentsForUser

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCommentsForUserRequest
*/
func (a *PublicAPIService) GetCommentsForUser(ctx context.Context) ApiGetCommentsForUserRequest {
	return ApiGetCommentsForUserRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetCommentsForUserResponse
func (a *PublicAPIService) GetCommentsForUserExecute(r ApiGetCommentsForUserRequest) (*GetCommentsForUserResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetCommentsForUserResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.GetCommentsForUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/comments-for-user"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	if r.repliesToUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repliesToUserId", r.repliesToUserId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.includei10n != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includei10n", r.includei10n, "form", "")
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	}
	if r.isCrawler != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isCrawler", r.isCrawler, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCommentsPublicRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	urlId *string
	page *int32
	direction *SortDirections
	sso *string
	skip *int32
	skipChildren *int32
	limit *int32
	limitChildren *int32
	countChildren *bool
	fetchPageForCommentId *string
	includeConfig *bool
	countAll *bool
	includei10n *bool
	locale *string
	modules *string
	isCrawler *bool
	includeNotificationCount *bool
	asTree *bool
	maxTreeDepth *int32
	useFullTranslationIds *bool
	parentId *string
	searchText *string
	hashTags *[]string
	userId *string
	customConfigStr *string
	afterCommentId *string
	beforeCommentId *string
}

func (r ApiGetCommentsPublicRequest) UrlId(urlId string) ApiGetCommentsPublicRequest {
	r.urlId = &urlId
	return r
}

func (r ApiGetCommentsPublicRequest) Page(page int32) ApiGetCommentsPublicRequest {
	r.page = &page
	return r
}

func (r ApiGetCommentsPublicRequest) Direction(direction SortDirections) ApiGetCommentsPublicRequest {
	r.direction = &direction
	return r
}

func (r ApiGetCommentsPublicRequest) Sso(sso string) ApiGetCommentsPublicRequest {
	r.sso = &sso
	return r
}

func (r ApiGetCommentsPublicRequest) Skip(skip int32) ApiGetCommentsPublicRequest {
	r.skip = &skip
	return r
}

func (r ApiGetCommentsPublicRequest) SkipChildren(skipChildren int32) ApiGetCommentsPublicRequest {
	r.skipChildren = &skipChildren
	return r
}

func (r ApiGetCommentsPublicRequest) Limit(limit int32) ApiGetCommentsPublicRequest {
	r.limit = &limit
	return r
}

func (r ApiGetCommentsPublicRequest) LimitChildren(limitChildren int32) ApiGetCommentsPublicRequest {
	r.limitChildren = &limitChildren
	return r
}

func (r ApiGetCommentsPublicRequest) CountChildren(countChildren bool) ApiGetCommentsPublicRequest {
	r.countChildren = &countChildren
	return r
}

func (r ApiGetCommentsPublicRequest) FetchPageForCommentId(fetchPageForCommentId string) ApiGetCommentsPublicRequest {
	r.fetchPageForCommentId = &fetchPageForCommentId
	return r
}

func (r ApiGetCommentsPublicRequest) IncludeConfig(includeConfig bool) ApiGetCommentsPublicRequest {
	r.includeConfig = &includeConfig
	return r
}

func (r ApiGetCommentsPublicRequest) CountAll(countAll bool) ApiGetCommentsPublicRequest {
	r.countAll = &countAll
	return r
}

func (r ApiGetCommentsPublicRequest) Includei10n(includei10n bool) ApiGetCommentsPublicRequest {
	r.includei10n = &includei10n
	return r
}

func (r ApiGetCommentsPublicRequest) Locale(locale string) ApiGetCommentsPublicRequest {
	r.locale = &locale
	return r
}

func (r ApiGetCommentsPublicRequest) Modules(modules string) ApiGetCommentsPublicRequest {
	r.modules = &modules
	return r
}

func (r ApiGetCommentsPublicRequest) IsCrawler(isCrawler bool) ApiGetCommentsPublicRequest {
	r.isCrawler = &isCrawler
	return r
}

func (r ApiGetCommentsPublicRequest) IncludeNotificationCount(includeNotificationCount bool) ApiGetCommentsPublicRequest {
	r.includeNotificationCount = &includeNotificationCount
	return r
}

func (r ApiGetCommentsPublicRequest) AsTree(asTree bool) ApiGetCommentsPublicRequest {
	r.asTree = &asTree
	return r
}

func (r ApiGetCommentsPublicRequest) MaxTreeDepth(maxTreeDepth int32) ApiGetCommentsPublicRequest {
	r.maxTreeDepth = &maxTreeDepth
	return r
}

func (r ApiGetCommentsPublicRequest) UseFullTranslationIds(useFullTranslationIds bool) ApiGetCommentsPublicRequest {
	r.useFullTranslationIds = &useFullTranslationIds
	return r
}

func (r ApiGetCommentsPublicRequest) ParentId(parentId string) ApiGetCommentsPublicRequest {
	r.parentId = &parentId
	return r
}

func (r ApiGetCommentsPublicRequest) SearchText(searchText string) ApiGetCommentsPublicRequest {
	r.searchText = &searchText
	return r
}

func (r ApiGetCommentsPublicRequest) HashTags(hashTags []string) ApiGetCommentsPublicRequest {
	r.hashTags = &hashTags
	return r
}

func (r ApiGetCommentsPublicRequest) UserId(userId string) ApiGetCommentsPublicRequest {
	r.userId = &userId
	return r
}

func (r ApiGetCommentsPublicRequest) CustomConfigStr(customConfigStr string) ApiGetCommentsPublicRequest {
	r.customConfigStr = &customConfigStr
	return r
}

func (r ApiGetCommentsPublicRequest) AfterCommentId(afterCommentId string) ApiGetCommentsPublicRequest {
	r.afterCommentId = &afterCommentId
	return r
}

func (r ApiGetCommentsPublicRequest) BeforeCommentId(beforeCommentId string) ApiGetCommentsPublicRequest {
	r.beforeCommentId = &beforeCommentId
	return r
}

func (r ApiGetCommentsPublicRequest) Execute() (*GetCommentsResponseWithPresencePublicComment, *http.Response, error) {
	return r.ApiService.GetCommentsPublicExecute(r)
}

/*
GetCommentsPublic Method for GetCommentsPublic


req
tenantId
urlId

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiGetCommentsPublicRequest
*/
func (a *PublicAPIService) GetCommentsPublic(ctx context.Context, tenantId string) ApiGetCommentsPublicRequest {
	return ApiGetCommentsPublicRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return GetCommentsResponseWithPresencePublicComment
func (a *PublicAPIService) GetCommentsPublicExecute(r ApiGetCommentsPublicRequest) (*GetCommentsResponseWithPresencePublicComment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetCommentsResponseWithPresencePublicComment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.GetCommentsPublic")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/comments/{tenantId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.urlId == nil {
		return localVarReturnValue, nil, reportError("urlId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "urlId", r.urlId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	}
	if r.skipChildren != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skipChildren", r.skipChildren, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.limitChildren != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limitChildren", r.limitChildren, "form", "")
	}
	if r.countChildren != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "countChildren", r.countChildren, "form", "")
	}
	if r.fetchPageForCommentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetchPageForCommentId", r.fetchPageForCommentId, "form", "")
	}
	if r.includeConfig != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeConfig", r.includeConfig, "form", "")
	}
	if r.countAll != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "countAll", r.countAll, "form", "")
	}
	if r.includei10n != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includei10n", r.includei10n, "form", "")
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	}
	if r.modules != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modules", r.modules, "form", "")
	}
	if r.isCrawler != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isCrawler", r.isCrawler, "form", "")
	}
	if r.includeNotificationCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeNotificationCount", r.includeNotificationCount, "form", "")
	}
	if r.asTree != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asTree", r.asTree, "form", "")
	}
	if r.maxTreeDepth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxTreeDepth", r.maxTreeDepth, "form", "")
	}
	if r.useFullTranslationIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useFullTranslationIds", r.useFullTranslationIds, "form", "")
	}
	if r.parentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parentId", r.parentId, "form", "")
	}
	if r.searchText != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchText", r.searchText, "form", "")
	}
	if r.hashTags != nil {
		t := *r.hashTags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "hashTags", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "hashTags", t, "form", "multi")
		}
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.customConfigStr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customConfigStr", r.customConfigStr, "form", "")
	}
	if r.afterCommentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "afterCommentId", r.afterCommentId, "form", "")
	}
	if r.beforeCommentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beforeCommentId", r.beforeCommentId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetEventLogRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	urlId *string
	userIdWS *string
	startTime *int64
	endTime *int64
}

func (r ApiGetEventLogRequest) UrlId(urlId string) ApiGetEventLogRequest {
	r.urlId = &urlId
	return r
}

func (r ApiGetEventLogRequest) UserIdWS(userIdWS string) ApiGetEventLogRequest {
	r.userIdWS = &userIdWS
	return r
}

func (r ApiGetEventLogRequest) StartTime(startTime int64) ApiGetEventLogRequest {
	r.startTime = &startTime
	return r
}

func (r ApiGetEventLogRequest) EndTime(endTime int64) ApiGetEventLogRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetEventLogRequest) Execute() (*GetEventLogResponse, *http.Response, error) {
	return r.ApiService.GetEventLogExecute(r)
}

/*
GetEventLog Method for GetEventLog


req
tenantId
urlId
userIdWS

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiGetEventLogRequest
*/
func (a *PublicAPIService) GetEventLog(ctx context.Context, tenantId string) ApiGetEventLogRequest {
	return ApiGetEventLogRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return GetEventLogResponse
func (a *PublicAPIService) GetEventLogExecute(r ApiGetEventLogRequest) (*GetEventLogResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetEventLogResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.GetEventLog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/event-log/{tenantId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.urlId == nil {
		return localVarReturnValue, nil, reportError("urlId is required and must be specified")
	}
	if r.userIdWS == nil {
		return localVarReturnValue, nil, reportError("userIdWS is required and must be specified")
	}
	if r.startTime == nil {
		return localVarReturnValue, nil, reportError("startTime is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "urlId", r.urlId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "userIdWS", r.userIdWS, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "startTime", r.startTime, "form", "")
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFeedPostsPublicRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	afterId *string
	limit *int32
	tags *[]string
	sso *string
	isCrawler *bool
	includeUserInfo *bool
}

func (r ApiGetFeedPostsPublicRequest) AfterId(afterId string) ApiGetFeedPostsPublicRequest {
	r.afterId = &afterId
	return r
}

func (r ApiGetFeedPostsPublicRequest) Limit(limit int32) ApiGetFeedPostsPublicRequest {
	r.limit = &limit
	return r
}

func (r ApiGetFeedPostsPublicRequest) Tags(tags []string) ApiGetFeedPostsPublicRequest {
	r.tags = &tags
	return r
}

func (r ApiGetFeedPostsPublicRequest) Sso(sso string) ApiGetFeedPostsPublicRequest {
	r.sso = &sso
	return r
}

func (r ApiGetFeedPostsPublicRequest) IsCrawler(isCrawler bool) ApiGetFeedPostsPublicRequest {
	r.isCrawler = &isCrawler
	return r
}

func (r ApiGetFeedPostsPublicRequest) IncludeUserInfo(includeUserInfo bool) ApiGetFeedPostsPublicRequest {
	r.includeUserInfo = &includeUserInfo
	return r
}

func (r ApiGetFeedPostsPublicRequest) Execute() (*PublicFeedPostsResponse, *http.Response, error) {
	return r.ApiService.GetFeedPostsPublicExecute(r)
}

/*
GetFeedPostsPublic Method for GetFeedPostsPublic


req
tenantId
afterId

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiGetFeedPostsPublicRequest
*/
func (a *PublicAPIService) GetFeedPostsPublic(ctx context.Context, tenantId string) ApiGetFeedPostsPublicRequest {
	return ApiGetFeedPostsPublicRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return PublicFeedPostsResponse
func (a *PublicAPIService) GetFeedPostsPublicExecute(r ApiGetFeedPostsPublicRequest) (*PublicFeedPostsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublicFeedPostsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.GetFeedPostsPublic")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/feed-posts/{tenantId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.afterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "afterId", r.afterId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.tags != nil {
		t := *r.tags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "tags", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "tags", t, "form", "multi")
		}
	}
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	if r.isCrawler != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isCrawler", r.isCrawler, "form", "")
	}
	if r.includeUserInfo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUserInfo", r.includeUserInfo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFeedPostsStatsRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	postIds *[]string
	sso *string
}

func (r ApiGetFeedPostsStatsRequest) PostIds(postIds []string) ApiGetFeedPostsStatsRequest {
	r.postIds = &postIds
	return r
}

func (r ApiGetFeedPostsStatsRequest) Sso(sso string) ApiGetFeedPostsStatsRequest {
	r.sso = &sso
	return r
}

func (r ApiGetFeedPostsStatsRequest) Execute() (*FeedPostsStatsResponse, *http.Response, error) {
	return r.ApiService.GetFeedPostsStatsExecute(r)
}

/*
GetFeedPostsStats Method for GetFeedPostsStats

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiGetFeedPostsStatsRequest
*/
func (a *PublicAPIService) GetFeedPostsStats(ctx context.Context, tenantId string) ApiGetFeedPostsStatsRequest {
	return ApiGetFeedPostsStatsRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return FeedPostsStatsResponse
func (a *PublicAPIService) GetFeedPostsStatsExecute(r ApiGetFeedPostsStatsRequest) (*FeedPostsStatsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FeedPostsStatsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.GetFeedPostsStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/feed-posts/{tenantId}/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.postIds == nil {
		return localVarReturnValue, nil, reportError("postIds is required and must be specified")
	}

	{
		t := *r.postIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "postIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "postIds", t, "form", "multi")
		}
	}
	if r.sso != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sso", r.sso, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetGifLargeRequest struct {
	ctx context.Context
	ApiService *PublicAPIService
	tenantId string
	largeInternalURLSanitized *string
}

func (r ApiGetGifLargeRequest) LargeInternalURLSanitized(largeInternalURLSanitized string) ApiGetGifLargeRequest {
	r.largeInternalURLSanitized = &largeInternalURLSanitized
	return r
}

func (r ApiGetGifLargeRequest) Execute() (*GifGetLargeResponse, *http.Response, error) {
	return r.ApiService.GetGifLargeExecute(r)
}

/*
GetGifLarge Method for GetGifLarge

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiGetGifLargeRequest
*/
func (a *PublicAPIService) GetGifLarge(ctx context.Context, tenantId string) ApiGetGifLargeRequest {
	return ApiGetGifLargeRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return GifGetLargeResponse
func (a *PublicAPIService) GetGifLargeExecute(r ApiGetGifLargeRequest) (*GifGetLargeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GifGetLargeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicAPIService.GetGifLarge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gifs/get-large/{tenantId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.largeInternalURLSanitized == nil {
		return localVarReturnValue, nil, reportError("largeInternalURLSanitized is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "largeInternalURLSanitized", r.largeInternalURLSanitized, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
[...]
